/*
Comments:





*/





*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body{
	width: 100%;
	height: 100%;
	/* background-color: #5A6054; */
	background-image: url(Img/background.png);
	background-size: cover;
}


.container{
	padding-left: 8%;
	padding-right: 8%;
}

.navbar{
	height: 12%;
	display: flex;
	align-items: center;
}

.logo{
	width: 12vh;
	cursor: pointer;
	padding-top: 30px;
}

.menu-icon{
	width: 6vh;
	cursor: pointer;
	margin-left: 60px;
	margin-top: 30px;
}

nav{
	flex: 1;
	text-align: right;
}

nav ul li{
	list-style: none;
	display: inline-block;
	margin-left: 60px;
}

nav ul li a .btn{
	width: 25vh;
	background: transparent;
	color: #fff;
	cursor: pointer;
	border: 2px solid #fff;
}

nav ul li a .btn:hover{
	background: #fff;
	color: #5A6054;
	font-weight: bold;
	transition: 0.5s;
}

button{
	width: 180px;
	color: #000;
	font-size: 12px;
	padding: 12px 0;
	background: #fff;
	border: 0;
	border-radius: 12px;
	outline: none;
	margin-top: 30px;
}


.gallery {
	margin: 40px 3%;
	padding-top: 80px;
}

.gallery a{
	display: relative;
	justify-content: center;
	align-items: center;
	padding-left: 12%;
}


.gallery img {
	transition: 1s;
	padding: 10px;
	width: 400px;
	height: 500px;
	display: inline-block;
	align-items: center;
}

.gallery img:hover {
	filter: drop-shadow(0px 8px 30px #fff);
	transform: scale(1:1);
}


footer{
	background-size:100% 100%;

    font-family: sans-serif, serif;
    font-size: 14px;
	text-align: center;
	
	vertical-align: bottom;
	justify-content: bottom;

	position: relative;
	bottom: 40px;
	color: #fff;
}

footer p{
	/*border-top: 2px solid #fff;*/
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	margin-right: 100px;
	margin-left: 80px;
}

footer p a{
	text-decoration: none;
	color: #fff;
}

footer p a:hover{
	color: #fff;
	text-decoration: underline #fff;
}



	







