/*
Comments:





*/





*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body{
	background-image: url(Img/background.png);
}

.section{
	width: 100%;
	min-height: 100vh;
	/*background-image: url(Img/background.png);*/
}

.navbar{
	height: 12%;
	display: flex;
	align-items: center;
	padding-left: 100px;
	padding-right: 120px;
}

.logo{
	width: 12vh;
	cursor: pointer;
	padding-top: 30px;
}

.menu-icon{
	width: 6vh;
	cursor: pointer;
	padding-top: 30px;
	margin-left: 60px;
}

nav{
	flex: 1;
	text-align: right;
}

nav ul li{
	list-style: none;
	display: inline-block;
	margin-left: 60px;
}


nav ul li a .btn{
	width: 25vh;
	background: transparent;
	color: #fff;
	cursor: pointer;
	border: 2px solid #fff;
}

nav ul li a .btn:hover{
	background: #fff;
	color: #5A6054;
	font-weight: bold;
	transition: 0.5s;
}

button{
	width: 180px;
	color: #5A6054;
	font-size: 12px;
	padding: 12px 0;
	background: #fff;
	border: 0;
	border-radius: 12px;
	font-weight: bold;
	outline: none;
	margin-top: 30px;
}

.container{
	width: 80%;
	display: block;
	margin: auto;
	padding-top: 100px;
}

.content-section{
	float: left;
	width: 55%;
}

.image-section{
	float: right;
	width: 40%;
}

.image-section img{
	width: 100%;
	height: auto;
}

.content-section .title{
	font-size: 30px;
	color: #fff;
}

.content-section .content h3{
	margin-top: 20px;
	color: #fff;
	font-size: 21px;
}

.content-section .content p{
	margin-top: 10px;
	font-family: sans-serif;
	color: #fff;
	font-size: 15px;
	line-height: 15px;
}

.content-section .content .button{
	margin-top: 120px;
	font-size: 12px;
	font-weight: bold;
}

.content-section .content .button a{
	text-decoration: none;
	padding: 12px 40px;
	background: transparent;
	color: #fff;
	cursor: pointer;
	border: 2px solid #fff;
	border-radius: 12px; 
}

.content-section .content .button a:hover{
	background-color: #fff;
	color: #0b0b1d;
	font-weight: bold;
	transition: 0.5s;
}

.content-section .social{
	margin: 50px 20px;
}

.content-section .social i{
	color: #fff;
	font-size: 30px;
	padding: 0px 10px;
}

.content-section .social i:hover{
	color: #3f5b6b;
}

footer{
	margin: 50px 20px;
	color: #fff;
}

footer p a{
	text-decoration: none;
	color: #fff;
}

footer p a:hover{
	color: #fff;
	text-decoration: underline #fff;
}


@media screen and  (max-width: 900px){
	.container{
		width: 80%;
		display: block;
		margin: auto;
		padding-top: 50px;
	}
	.content-section{
		float: none;
		width: 100%;
		display: block;
		margin: auto;
	}
	.image-section{
		float: none;
		width: 100%;
	}
	.image-section img{
		width: 100%;
		height: auto;
		display: block;
		margin: auto;
	}
	.content-section .title{
		text-align: center;
		font-size: 19px;
	}
	.content-section .content .button{
		text-align: center;
	}
	.content-section .content .button a{
		padding: 9px 30px;
	}
	.content-section .social{
		text-align: center;
	}
/*
	footer{
		text-align: center;
	}

	footer p a{

	}
*/
}



	







